@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #dadada;
    }
}

.error-msg {
    display: none;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
    border: 2px solid #CC0000;
}

input[type="file"][aria-invalid="true"] {
    border: none;
    color: #CC0000;
}

tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}